*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-area{
    display: flex;
    background-color: rgb(68, 68, 68);
    min-height: 36px;
    width: 200px;
    border-radius: 10px;
    justify-content: center;
}

.text-color-primary{
    color: white;
}

.text-strong{
    font-weight: 600;
}